{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
		/>
		<link rel="image" href="{% static 'images/Letralogo.png' %}" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Jsantos</title>
	</head>

	<header>{% include "base.html" %}</header>

	<!-- Main modal Nova venda -->
	<div
		id="crud-modal"
		tabindex="-1"
		aria-hidden="true"
		class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
	>
		<div class="relative p-4 w-full max-w-md max-h-full">
			<!-- Modal content Nova venda -->
			<div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
				<!-- Modal header Nova venda -->
				<div
					class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
				>
					<h3 class="text-xl font-medium text-gray-900 dark:text-white">
						Adicionar Venda
					</h3>
					<button
						type="button"
						class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
						data-modal-toggle="crud-modal"
					>
						<svg
							class="w-3 h-3"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 14 14"
						>
							<path
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
							/>
						</svg>
						<span class="sr-only">Fechar modal</span>
					</button>
				</div>
				<!-- Modal body -->
				<form action="{% url 'nova_venda' %}" method="POST" class="p-4 md:p-5">
					{%csrf_token%}
					<!-- <div class="grid gap-4 mb-4 grid-cols-2"> -->
					<div class="p-4 grid grid-cols-2 gap-6 md:p-5 space-y-4">
						<div class="relative z-0 col-span-2 group">
							<input
								type="text"
								name="produto"
								id="txt-produto"
								class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
								placeholder=" "
								required
							/>
							<label
								for="txt-produto"
								class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
								>Produto</label
							>
						</div>
						<div class="col-span-2 sm:col-span-1">
							<label
								for="quantity-input"
								class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
								>Quantidade:</label
							>
							<div class="relative flex items-center max-w-[4rem]">
								<button
									type="button"
									id="decrement-button"
									data-input-counter-decrement="quantity-input"
									class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-s-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none"
								>
									<svg
										class="w-3 h-3 text-gray-900 dark:text-white"
										aria-hidden="true"
										xmlns="http://www.w3.org/2000/svg"
										fill="none"
										viewBox="0 0 18 2"
									>
										<path
											stroke="currentColor"
											stroke-linecap="round"
											stroke-linejoin="round"
											stroke-width="2"
											d="M1 1h16"
										/>
									</svg>
								</button>
								<input
									type="number"
									name="quantidade"
									id="quantity-input"
									data-input-counter
									aria-describedby="helper-text-explanation"
									class="bg-gray-50 border-x-0 border-gray-300 h-11 text-center text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full py-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
									value="1"
									required
								/>
								<button
									type="button"
									id="increment-button"
									data-input-counter-increment="quantity-input"
									class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-e-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none"
								>
									<svg
										class="w-3 h-3 text-gray-900 dark:text-white"
										aria-hidden="true"
										xmlns="http://www.w3.org/2000/svg"
										fill="none"
										viewBox="0 0 18 18"
									>
										<path
											stroke="currentColor"
											stroke-linecap="round"
											stroke-linejoin="round"
											stroke-width="2"
											d="M9 1v16M1 9h16"
										/>
									</svg>
								</button>
							</div>
						</div>
						<div class="col-span-2 sm:col-span-1">
							<label
								for="preco"
								class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
								>Preço</label
							>
							<input
								type="number"
								name="preco"
								id="preco"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
								placeholder="R$"
								required=""
							/>
						</div>

						<div class="col-span-2 sm:col-span-1">
							<label
								for="category"
								class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
								>Forma de Pagamento</label
							>
							<select
								id="category"
								name="pagamento"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
							>
								<option value="Dinheiro">Dinheiro</option>
								<option value="Cartão">Cartão</option>
							</select>
						</div>

						<div class="col-span-2 sm:col-span-1">
							<label
								for="category"
								class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
								>Vendedor</label
							>
							<select
								id="category"
								name="vendedor"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
							>
								<option value="Lukas">Lukas</option>
								<option value="Jsantos">Jsantos</option>
								<option value="Alison">Alison</option>
								<option value="Edvania">Edvania</option>
							</select>
						</div>
					</div>
					<button
						type="submit"
						class="text-white w-full px-8 inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
					>
						<svg
							class="me-1 -ms-1 w-5 h-5"
							fill="currentColor"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								fill-rule="evenodd"
								d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
								clip-rule="evenodd"
							></path>
						</svg>
						Registrar Venda
					</button>
				</form>
			</div>
		</div>
	</div>

	<body>
		<section class="bg-gray-50 h-screen dark:bg-gray-900 p-3 sm:p-5">
			<div class="mx-auto max-w-screen-xl py-24 px-4 lg:px-12">
				<div
					class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden"
				>
					<div
						class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4"
					>
						<div class="w-full md:w-1/2">
							<form class="flex items-center">
								<label for="simple-search" class="sr-only"
									>Pesquisar Produto</label
								>
								<div class="relative w-full">
									<div
										class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
									>
										<svg
											aria-hidden="true"
											class="w-5 h-5 text-gray-500 dark:text-gray-400"
											fill="currentColor"
											viewbox="0 0 20 20"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												fill-rule="evenodd"
												d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
												clip-rule="evenodd"
											/>
										</svg>
									</div>
									<input
										type="text"
										id="simple-search"
										name="produto_filtrar"
										class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
										placeholder="Pesquisar"
									/>
								</div>
							</form>
						</div>
						<div
							class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0"
						>
							<button
								data-modal-target="crud-modal"
								data-modal-toggle="crud-modal"
								class="flex items-center justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
							>
								<svg
									class="h-3.5 w-3.5 mr-2"
									fill="currentColor"
									viewbox="0 0 20 20"
									xmlns="http://www.w3.org/2000/svg"
									aria-hidden="true"
								>
									<path
										clip-rule="evenodd"
										fill-rule="evenodd"
										d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
									/>
								</svg>
								Nova Venda
							</button>
							<div class="flex items-center space-x-3 w-full md:w-auto">
								<button
									onclick="atualizar()"
									class="w-full md:w-auto flex items-center justify-center py-2 px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
									type="button"
								>
									<svg
										class="w-3 h-3 me-2 text-gray-800 dark:text-white"
										aria-hidden="true"
										xmlns="http://www.w3.org/2000/svg"
										fill="none"
										viewBox="0 0 18 20"
									>
										<path
											stroke="currentColor"
											stroke-linecap="round"
											stroke-linejoin="round"
											stroke-width="2"
											d="M16 1v5h-5M2 19v-5h5m10-4a8 8 0 0 1-14.947 3.97M1 10a8 8 0 0 1 14.947-3.97"
										/>
									</svg>
									Atualizar
								</button>
								<button
									id="filterDropdownButton"
									data-dropdown-toggle="filterDropdown"
									class="w-full md:w-auto flex items-center justify-center py-2 px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
									type="button"
								>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										aria-hidden="true"
										class="h-4 w-4 mr-2 text-gray-400"
										viewbox="0 0 20 20"
										fill="currentColor"
									>
										<path
											fill-rule="evenodd"
											d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z"
											clip-rule="evenodd"
										/>
									</svg>
									Exportar
									<svg
										class="-mr-1 ml-1.5 w-5 h-5"
										fill="currentColor"
										viewbox="0 0 20 20"
										xmlns="http://www.w3.org/2000/svg"
										aria-hidden="true"
									>
										<path
											clip-rule="evenodd"
											fill-rule="evenodd"
											d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
										/>
									</svg>
								</button>
							</div>
						</div>
					</div>
					<div class="overflow-x-auto">
						<table
							class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
						>
							<thead
								class="text-xs text-center text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
							>
								<tr>
									<th scope="col" class="px-4 py-3">Produto</th>
									<th scope="col" class="px-4 py-3">Quantidade</th>
									<th scope="col" class="px-4 py-3">Preço</th>
									<th scope="col" class="px-4 py-3">Pagamento</th>
									<th scope="col" class="px-4 py-3">Vendedor</th>
									<th scope="col" class="px-4 py-3">
										<span class="sr-only">Ação</span>
									</th>
								</tr>
							</thead>
							{% for i in vendas%}
							<tbody>
								<tr class="border-b text-center dark:border-gray-700">
									<th
										scope="row"
										class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white"
									>
										{{i.Produto}}
									</th>
									<td class="px-4 py-3">{{i.Quantidade}}</td>
									<td class="px-4 py-3">R${{i.Preco}}</td>
									<td class="px-4 py-3">{{i.Pagamento}}</td>
									<td class="px-4 py-3">{{i.Vendedor}}</td>
									<td class="px-4 py-3 flex items-center justify-end">
										<button
											id="dropdownMenuIconHorizontalButton"
											data-dropdown-toggle="{{i.Produto}}"
											class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
											type="button"
										>
											<svg
												class="w-5 h-5"
												aria-hidden="true"
												xmlns="http://www.w3.org/2000/svg"
												fill="currentColor"
												viewBox="0 0 16 3"
											>
												<path
													d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"
												/>
											</svg>
										</button>
										<!-- Dropdown menu -->
										<div
											id="{{i.Produto}}"
											class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
										>
											<ul
												class="py-2 text-sm text-gray-700 dark:text-gray-200"
												aria-labelledby="dropdownMenuIconHorizontalButton"
											>
												<!-- Modal toggle Edit -->
												<li>
													<a
														href="#"
														id="updateProductButton"
														data-modal-target="updateProductModal"
														data-modal-toggle="updateProductModal"
														class="px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
														>Editar</a
													>
												</li>
												<!-- Modal toggle Delete -->
												<li>
													<a
														href="#"
														id="deleteButton"
														data-modal-target="deleteModal"
														data-modal-toggle="deleteModal"
														class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
														>Deletar</a
													>
												</li>
											</ul>
										</div>
									</td>
								</tr>
							</tbody>
							<!-- Main modal edit -->
							<div
								id="updateProductModal"
								tabindex="-1"
								aria-hidden="true"
								class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full"
							>
								<div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
									<!-- Modal content -->
									<div
										class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5"
									>
										<!-- Modal header edit -->
										<div
											class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600"
										>
											<h3
												class="text-lg font-semibold text-gray-900 dark:text-white"
											>
												Atualizar Venda
											</h3>
											<button
												type="button"
												class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
												data-modal-toggle="updateProductModal"
											>
												<svg
													aria-hidden="true"
													class="w-5 h-5"
													fill="currentColor"
													viewBox="0 0 20 20"
													xmlns="http://www.w3.org/2000/svg"
												>
													<path
														fill-rule="evenodd"
														d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
														clip-rule="evenodd"
													></path>
												</svg>
												<span class="sr-only">Fechar modal</span>
											</button>
										</div>
										<!-- Modal body edit -->
										<form action="{% url 'update' i.id %}" method="POST">
											{%csrf_token%}
											<div class="grid gap-4 mb-4 sm:grid-cols-2">
												<div>
													<label
														for="name"
														class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
														>Produto</label
													>
													<input
														type="text"
														name="name"
														id="name"
														value="{{i.Produto}}"
														class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
														placeholder="Ex. Apple iMac 27&ldquo;"
													/>
												</div>
												<div>
													<label
														for="quantidade"
														class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
														>Quantidade</label
													>
													<input
														type="number"
														name="quantidade"
														id="quantidade"
														value="{{i.Quantidade}}"
														class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
														placeholder="Ex. Apple"
													/>
												</div>

												<div>
													<label
														for="preco"
														class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
														>Preço</label
													>
													<input
														type="number"
														value="{{i.Preco}}"
														name="preco"
														id="preco"
														class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
														placeholder="{{i.Preco}}"
													/>
												</div>
												<div>
													<label
														for="category"
														class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
														>Pagamento</label
													>
													<select
														id="category"
														class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
													>
														<option selected="">{{i.Pagamento}}</option>
														{% if Pagamento == 'Dinheiro' %}
														<option value="Cartão">Cartão</option>
														{% else %}
														<option value="Dinheiro">Dinheiro</option>
														{% endif %}
													</select>
												</div>
												<div class="sm:col-span-2">
													<label
														for="description"
														class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
														>Vendedor</label
													>
													<textarea
														id="description"
														rows="5"
														class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
														placeholder="Write a description..."
													>
Standard glass, 3.8GHz 8-core 10th-generation Intel Core i7 processor, Turbo Boost up to 5.0GHz, 16GB 2666MHz DDR4 memory, Radeon Pro 5500 XT with 8GB of GDDR6 memory, 256GB SSD storage, Gigabit Ethernet, Magic Mouse 2, Magic Keyboard - US</textarea
													>
												</div>
											</div>
											<div class="flex items-center space-x-4">
												<button
													type="submit"
													class="text-blue-700 bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
												>
													Atualizar Venda
												</button>
												<button
													type="button"
													data-modal-toggle="updateProductModal"
													class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full"
												>
													<svg
														class="mr-1 -ml-1 w-5 h-5"
														fill="currentColor"
														viewBox="0 0 20 20"
														xmlns="http://www.w3.org/2000/svg"
													>
														<path
															fill-rule="evenodd"
															d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
															clip-rule="evenodd"
														></path>
													</svg>
													Cancelar
												</button>
											</div>
										</form>
									</div>
								</div>
							</div>

							<!-- Main modal delete -->
							<div
								id="deleteModal"
								tabindex="-1"
								aria-hidden="true"
								class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full"
							>
								<div class="relative p-4 w-full max-w-md h-full md:h-auto">
									<!-- Modal content delete -->
									<div
										class="relative p-4 text-center bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5"
									>
										<button
											type="button"
											class="text-gray-400 absolute top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
											data-modal-toggle="deleteModal"
										>
											<svg
												aria-hidden="true"
												class="w-5 h-5"
												fill="currentColor"
												viewBox="0 0 20 20"
												xmlns="http://www.w3.org/2000/svg"
											>
												<path
													fill-rule="evenodd"
													d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
													clip-rule="evenodd"
												></path>
											</svg>
											<span class="sr-only">Fechar modal</span>
										</button>
										<svg
											class="text-gray-400 dark:text-gray-500 w-11 h-11 mb-3.5 mx-auto"
											aria-hidden="true"
											fill="currentColor"
											viewBox="0 0 20 20"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												fill-rule="evenodd"
												d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
												clip-rule="evenodd"
											></path>
										</svg>
										<p class="mb-4 text-gray-500 dark:text-gray-300">
											Tem certeza de que deseja excluir este item?
										</p>
										<div class="flex justify-center items-center space-x-4">
											<button
												data-modal-toggle="deleteModal"
												type="button"
												class="py-2 px-3 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600"
											>
												Cancelar
											</button>
											<a
												href="/vendas/delete/{{i.id}}"
												class="py-2 px-3 text-sm font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-500 dark:hover:bg-red-600 dark:focus:ring-red-900"
												>Sim, Tenho certeza</a
											>
										</div>
									</div>
								</div>
							</div>

							{% endfor %}
						</table>
					</div>
				</div>
				<h1>{{status}}</h1>
				{% if status == '1' %}
				<div
					class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
					role="alert"
				>
					<span class="font-medium">Success alert!</span> Change a few things up
					and try submitting again.
				</div>
				{% endif %} {% if status == '3' %}
				<div
					class="p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300"
					role="alert"
				>
					<span class="font-medium">Warning alert!</span> Change a few things up
					and try submitting again.
				</div>
				{% endif %}

				<footer>
					<div id="toast">
						<div id="img">Icon</div>
						<div id="desc">A notification message..</div>
					</div>

					<!-- http://jsfiddle.net/m8x1g0q8/ -->
				</footer>

				<!-- <script>


  import { InputCounter } from 'flowbite';

        const $targetEl = document.getElementById('quantity-input');

        const $incrementEl = document.getElementById('increment-button');

        const $decrementEl = document.getElementById('decrement-button');


  const options = {
    minValue: 0,
    maxValue: null, // infinite
    onIncrement: () => {
        console.log('input field value has been incremented');
    },
    onDecrement: () => {
        console.log('input field value has been decremented');
    }
};

const instanceOptions = {
  id: 'quantity-input',
  override: true
};
const counterInput = new InputCounter($targetEl, $incrementEl, $decrementEl, options, instanceOptions);

// get the current value of the input field
counterInput.getCurrentValue();

// increment the value of the input field
counterInput.increment();

// decrement the value of the input field
counterInput.decrement();

</script> -->
				<script
					src="https://code.jquery.com/jquery-3.6.1.min.js"
					integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
					crossorigin="anonymous"
				></script>
				<script>
					<!--Reload-->
					function atualizar() {
						location.reload();
					}
				</script>

				<script>
					<!-- Contador -->
					$(document).ready(function () {
						$('#decrement-button').click(function () {
							var $input = $(this).parent().find('input');
							var count = parseInt($input.val()) - 1;
							count = count < 1 ? 1 : count;
							$input.val(count);
							$input.change();
							return false;
						});
						$('#increment-button').click(function () {
							var $input = $(this).parent().find('input');
							$input.val(parseInt($input.val()) + 1);
							$input.change();
							return false;
						});
					});
				</script>

				<!-- <script>
					function launch_toast() {
						var x = document.getElementById('toast');
						x.className = 'show';
						setTimeout(function () {
							x.className = x.className.replace('show', '');
						}, 5000);
					}
				</script> -->
				<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.js"></script>

				<style>
					#toast {
						visibility: hidden;
						max-width: 50px;
						height: 50px;
						/*margin-left: -125px;*/
						margin: auto;
						background-color: #333;
						color: #fff;
						text-align: center;
						border-radius: 2px;

						position: fixed;
						z-index: 1;
						left: 0;
						right: 0;
						bottom: 30px;
						font-size: 17px;
						white-space: nowrap;
					}
					#toast #img {
						width: 50px;
						height: 50px;

						float: left;

						padding-top: 16px;
						padding-bottom: 16px;

						box-sizing: border-box;

						background-color: #111;
						color: #fff;
					}
					#toast #desc {
						color: #fff;

						padding: 16px;

						overflow: hidden;
						white-space: nowrap;
					}

					#toast.show {
						visibility: visible;
						-webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s,
							shrink 0.5s 2s, fadeout 0.5s 2.5s;
						animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s,
							fadeout 0.5s 4.5s;
					}

					@-webkit-keyframes fadein {
						from {
							bottom: 0;
							opacity: 0;
						}
						to {
							bottom: 30px;
							opacity: 1;
						}
					}

					@keyframes fadein {
						from {
							bottom: 0;
							opacity: 0;
						}
						to {
							bottom: 30px;
							opacity: 1;
						}
					}

					@-webkit-keyframes expand {
						from {
							min-width: 50px;
						}
						to {
							min-width: 350px;
						}
					}

					@keyframes expand {
						from {
							min-width: 50px;
						}
						to {
							min-width: 350px;
						}
					}
					@-webkit-keyframes stay {
						from {
							min-width: 350px;
						}
						to {
							min-width: 350px;
						}
					}

					@keyframes stay {
						from {
							min-width: 350px;
						}
						to {
							min-width: 350px;
						}
					}
					@-webkit-keyframes shrink {
						from {
							min-width: 350px;
						}
						to {
							min-width: 50px;
						}
					}

					@keyframes shrink {
						from {
							min-width: 350px;
						}
						to {
							min-width: 50px;
						}
					}

					@-webkit-keyframes fadeout {
						from {
							bottom: 30px;
							opacity: 1;
						}
						to {
							bottom: 60px;
							opacity: 0;
						}
					}

					@keyframes fadeout {
						from {
							bottom: 30px;
							opacity: 1;
						}
						to {
							bottom: 60px;
							opacity: 0;
						}
					}
					.button {
						--width: 100px;
						--height: 35px;
						--tooltip-height: 35px;
						--tooltip-width: 90px;
						--gap-between-tooltip-to-button: 18px;
						--button-color: #222;
						--tooltip-color: #fff;
						width: var(--width);
						height: var(--height);
						background: var(--button-color);
						position: relative;
						text-align: center;
						border-radius: 0.45em;
						font-family: 'Arial';
						transition: background 0.3s;
					}

					.button::before {
						position: absolute;
						content: attr(data-tooltip);
						width: var(--tooltip-width);
						height: var(--tooltip-height);
						background-color: #555;
						font-size: 0.9rem;
						color: #fff;
						border-radius: 0.25em;
						line-height: var(--tooltip-height);
						bottom: calc(
							var(--height) + var(--gap-between-tooltip-to-button) + 10px
						);
						left: calc(50% - var(--tooltip-width) / 2);
					}

					.button::after {
						position: absolute;
						content: '';
						width: 0;
						height: 0;
						border: 10px solid transparent;
						border-top-color: #555;
						left: calc(50% - 10px);
						bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
					}

					.button::after,
					.button::before {
						opacity: 0;
						visibility: hidden;
						transition: all 0.5s;
					}

					.text {
						display: flex;
						align-items: center;
						justify-content: center;
					}

					.button-wrapper,
					.text,
					.icon {
						overflow: hidden;
						position: absolute;
						width: 100%;
						height: 100%;
						left: 0;
						color: #fff;
					}

					.text {
						top: 0;
					}

					.text,
					.icon {
						transition: top 0.5s;
					}

					.icon {
						color: #fff;
						top: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
					}

					.icon svg {
						width: 24px;
						height: 24px;
					}

					.button:hover {
						background: #222;
					}

					.button:hover .text {
						top: -100%;
					}

					.button:hover .icon {
						top: 0;
					}

					.button:hover:before,
					.button:hover:after {
						opacity: 1;
						visibility: visible;
					}

					.button:hover:after {
						bottom: calc(
							var(--height) + var(--gap-between-tooltip-to-button) - 20px
						);
					}

					.button:hover:before {
						bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
					}
				</style>
			</div>
		</section>
	</body>
</html>
